<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<a href="#link"> <i class="fa fa-home"></i></a>
<a href="#link"> <i class="fa fa-question"></i></a>

<!-- <form class="search-form" action="search">
    <mat-form-field class="search-form" action="search">
        <input matInput type="text" formControlName="searchInput" placeholder="search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </mat-form-field>
</form> -->

<a href="#link"> <i class="fa fa-envelope-o"></i></a>
<a href="#link"> <i class="fa fa-gear"></i></a>
<a href="#link"> <i class="fa fa-exclamation-circle"></i></a>

<div class="username"> <a href="#link" style="color: black; text-decoration: none;"> username</a></div>
<div class="top" style="width:1656px;height:0px;border:1px solid #D1CFCF;"></div>
<div class="side" style="width:0px;height:800px;border:1px solid #D1CFCF;"></div>

<div class="profile"> Profile </div>
<div class="sc-management"> <a routerLink="/adminScManagement" routerLinkActive="active"
        style="color: #D1CFCF; text-decoration: none;"> Social Club Management</a>
</div>
<div class="mmbr-management"> <a routerLink="/memberManagement" routerLinkActive="active"
        style="color: #D1CFCF; text-decoration: none;"> Member Management</a>
</div>
<div class="rep-management"> <a routerLink="/manageReport" routerLinkActive="active"
        style="color: #D1CFCF; text-decoration: none;"> Report Management</a></div>
<div class="q-management"> <a routerLink="/questManagement" routerLinkActive="active"
        style="color: #D1CFCF; text-decoration: none;"> Questionnaire Management</a>
</div>

<div class="logout"> <a routerLink="/login" routerLinkActive="active" style="color: #A5BEFF; text-decoration: none;">
        log out</a></div>
<div class="delete"> <a mat-button routerLink="/deleteAccount" routerLinkActive="active"
        style="color: #A5BEFF; text-decoration: none;"> delete account</a></div>

<section class="form">
    <form>
        <mat-form-field class="name">

            <label>
                Name
                <br><input type="text" matInput formControlName="name" name="name">
            </label>
        </mat-form-field>
        <br>
        <mat-form-field class="bio">
            <label>
                Bio<br>
                <!--TODO: bu boxu düzenle -->

                <textarea matInput rows="5" formControlName="bio" name="description">
                </textarea>
            </label>
        </mat-form-field>
        <br>
        <!-- <mat-form-field class="agecheck">
            <label>
                Show my age on my profile*
                TODO: checkboxda matInput var mı ona bak
                <input type="checkbox" name="agebox">
            </label>

        </mat-form-field> -->
        <h2> Members who are under 18 must show their ages for their protection.</h2>
        <fieldset class="save">
            <input class="btn" type="submit" name="save" value="save">
        </fieldset>
    </form>
</section>