
<form novalidate [formGroup]="deleteForm" #delform="ngForm" (ngSubmit)="onSubmit()">
  <a href="https://imgur.com/WJ8ZHvz"><img src="https://i.imgur.com/WJ8ZHvz.png" title="source: imgur.com"style="position:absolute; top:50px; left: 765px;" />
  </a>
   <br><h1>Delete Account</h1>
  <mat-form-field class="account-info">
    <label>
      username
      <br><input matInput formControlName="username" type="username" name="username" required>
    </label><br>
  </mat-form-field>
  <br>
    <mat-form-field class="account-info">
    <label>
      password
    <br>  <input matInput formControlName="password" type="password" name="password" required>
    </label><br>
  </mat-form-field>
  <fieldset class="account-action">
    <input class="btn" type="submit" name="submit" value="delete">
  </fieldset>
</form>
