<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<a href="#link"> <i class="fa fa-home"></i></a>
<a href="#link"> <i class="fa fa-question"></i></a>
<form class="search-form" action="search">
    <input type="text" placeholder="search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
<a routerLink="/message" routerLinkActive="active"> <i class="fa fa-envelope-o"></i></a>
<a routerLink="/userProfile" routerLinkActive="active"> <i class="fa fa-gear"></i></a>
<a routerLink="/bugReport" routerLinkActive="active"> <i class="fa fa-exclamation-circle"></i></a>
<div class="username"> <a href="#link" style="color: black; text-decoration: none;"> username</a></div>
<div class="top" style="width:1656px;height:0px;border:1px solid #D1CFCF;"></div>


<section class="form">
    <form novalidate [formGroup]="requestClubForm" #reqClubForm="ngForm" (ngSubmit)="onSubmit()">
        <h1>Request Club</h1>
        <mat-form-field class="name">

            <label>
                Club Name Suggestion
                <br><input matInput formControlName="clubName" type="text" name="name" required>
            </label>
        </mat-form-field><br>
        <mat-form-field class="reason">
            <label>
                Reasoning<br>
                <textarea name="reason" matInput formControlName="reason" rows="5" cols="60" required></textarea>
            </label>
        </mat-form-field>
        <fieldset class="request">
            <input class="btn" type="submit" name="request" value="Request Club">
        </fieldset>
    </form>
</section>