<img src="https://i.imgur.com/WJ8ZHvz.png" src="../../assets/images/logo.png"
  style="position:absolute; top:50px; left: 615px;" />

<form novalidate [formGroup]="forgotForm" #fform="ngForm" (ngSubmit)="onSubmit()">

  <br><br><br>
  <h1>Forgot password?</h1>
  <mat-form-field class="account-info">

    <label>
      username
      <br><input matInput formControlName="username" type="text" name="username" required>
    </label><br>
  </mat-form-field>
  <br>
  <mat-form-field class="account-info">
    <label>
      email
      <br> <input matInput formControlName="email" type="email" name="email" required>
    </label><br>

  </mat-form-field>
  <br><br><br>
  <fieldset class="account-action">
    <a><button type="submit" name="submit" class="btn btn-success pull-right"> send my
        password</button></a>

  </fieldset>
</form>
