
        .fa-home {
            position: absolute;
            left: 140px;
            top: 45px;
            color: #A5BEFF;
            font-size: 25px;
        }

        .fa-question {
            position: absolute;
            left: 190px;
            top: 45px;
            color: #A5BEFF;
            font-size: 25px;
        }

        .search-form {
            position: absolute;
            top: 40px;
            left: 230px;
        }

        .search-form input {
            font-family: Spartan, serif;
            font-size: 15px;
            width: 230px;
            height: 30px;
            display: inline-block;
            border: none;
            background-color: #F3F6F9;
            border-radius: 10px;
        }

        .fa-envelope-o {
            position: absolute;
            left: 1550px;
            top: 45px;
            color: #A5BEFF;
            font-size: 25px;
        }

        .fa-gear {
            position: absolute;
            left: 1600px;
            top: 45px;
            color: #A5BEFF;
            font-size: 25px;
        }

        div.username {
            position: absolute;
            left: 1650px;
            top: 45px;
            color: black;
            font-family: Spartan, serif;
            font-size: 22px;
        }

        .fa-exclamation-circle {
            position: absolute;
            left: 140px;
            top: 850px;
            color: red;
            font-size: 25px;
        }

        div.top {
            position: absolute;
            top: 80px;
            left: 130px;
        }

        section {
            margin: 100px 0 0 100px;
            font-family: Spartan, serif;
            background-color: white;
            overflow: hidden;
        }

        fieldset {
            border: none;
            margin: 0;
            padding: 0;
        }
        section.ontry {
            position: absolute;
            top: 20px;
            left: 150px;
            font-family: Spartan, serif;
            background-color: white;
            overflow: hidden;
        }
        h1 {
            font-family: Spartan, serif;
            font-style: normal;
            font-weight: normal;
            font-size: 50px;
            color: #A5BEFF;
        }

        .post .rectangle {
            height: 230px;
            width: 600px;
            margin-bottom: 10px;
            background-color: #fca5ff;
            border-radius: 20px;
            border-style: solid;
            border-width: 20px;
            border-color: #fca5ff;
            display: inline-flex;
            align-items: flex-start;
            font-family: Spartan, serif;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            color: white;
        }

        .post .user {
            position: absolute;
            top: 385px;
            left: 510px;
            font-size: 18px;
            font-family: Spartan, serif;
            font-style: normal;
            font-weight: normal;
            color: white;
        }

        .write-comment textarea {
            margin-top: 20px;
            height: 170px;
            width: 635px;
            display: inline-block;
            border: none;
            background-color: #F3F6F9;
            border-radius: 20px;
            font-size: 18px;
        }
        .write-comment .btn{
            margin-top: 20px;
            margin-left: 495px;
            background: #A5BEFF;
            color: white;
            cursor: pointer;
            text-align: center;
            font-family: Spartan,serif;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            padding: 8px 15px;
            border-radius: 10px;
        }

        section.send-message{
            position: absolute;
            top: 130px;
            left: 1200px;
            font-family: Spartan, serif;
            background-color: white;
            overflow: hidden;
        }

        .send-message label {
            color: black;
            display: block;
            font-family: Spartan,serif;
            width: 474px;
            height: 69px;
            white-space: nowrap;
            text-align: left;
            font-size: 22px;
            margin-bottom: 180px;
        }
        .send-message textarea {
            width: 400px;
            height: 200px;
            display: inline-block;
            border: none;
            background-color: #F3F6F9;
            border-radius: 20px;
            font-size: 18px;
        }

        .send-message .btn{
            margin-left: 310px;
            background: #A5BEFF;
            color: white;
            cursor: pointer;
            text-align: center;
            font-family: Spartan,serif;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            padding: 8px 15px;
            border-radius: 10px;
        }

        section.report-user{
            position: absolute;
            top: 450px;
            left: 1200px;
            font-family: Spartan, serif;
            background-color: white;
            overflow: hidden;
        }

        .report-user label {
            color: black;
            display: block;
            font-family: Spartan,serif;
            width: 474px;
            height: 69px;
            white-space: nowrap;
            text-align: left;
            font-size: 22px;
            margin-bottom: 180px;
        }
        .report-user textarea {
            width: 400px;
            height: 200px;
            display: inline-block;
            border: none;
            background-color: #F3F6F9;
            border-radius: 20px;
            font-size: 18px;
        }

        .report-user .btn{
            margin-left: 290px;
            background: #A5BEFF;
            color: white;
            cursor: pointer;
            text-align: center;
            font-family: Spartan,serif;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            padding: 8px 15px;
            border-radius: 10px;
        }

    