<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<a href="#link"> <i class="fa fa-home"></i></a>
<a href="#link"> <i class="fa fa-question"></i></a>
<form class="search-form" action="search">
    <input type="text" placeholder="search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<a routerLink="/message" routerLinkActive="active"> <i class="fa fa-envelope-o"></i></a>
<a routerLink="/userProfile" routerLinkActive="active"> <i class="fa fa-gear"></i></a>
<a routerLink="/bugReport" routerLinkActive="active"> <i class="fa fa-exclamation-circle"></i></a>

<div class="username"> <a href="#link" style="color: black; text-decoration: none;"> username</a></div>
<div class="top" style="width:1656px;height:0px;border:1px solid #D1CFCF;"></div>

<h1> Your Clubs</h1>
<!-- klüp bilgileri buraya çekilecek ngFor ile -->
<section class="clubs">
    <fieldset class="club1">
        <a routerLink="/subClubDashboard" routerLinkActive="active" style="text-decoration: none; ">
            <div class="square"> Book </div>
        </a>
        <a routerLink="/clubReview" routerLinkActive="active"> <i class="fa fa-star"></i></a>
    </fieldset>
    <fieldset class="club2">
        <a href="#link" style="text-decoration: none; ">
            <div class="square"> Club 2 </div>
        </a>
        <a href="#link"> <i class="fa fa-star"></i></a>
    </fieldset>
    <fieldset class="club3">
        <a href="#link" style="text-decoration: none; ">
            <div class="square"> Club 3 </div>
        </a>
        <a href="#link"> <i class="fa fa-star"></i></a>
    </fieldset>
    <fieldset class="request">
        <a href="#link" style="text-decoration: none; ">
            <div class="button"> Request Club </div>
        </a>
    </fieldset>
</section>