<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<a href="#link"> <i class="fa fa-home"></i></a>
<a href="#link"> <i class="fa fa-question"></i></a>

<form class="search-form" action="search">
    <input type="text" placeholder="search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<a href="#link"> <i class="fa fa-envelope-o"></i></a>
<a href="#link"> <i class="fa fa-gear"></i></a>
<a href="#link"> <i class="fa fa-exclamation-circle"></i></a>

<div class="username"> <a href="#link" style="color: black; text-decoration: none;"> username</a></div>
<div class="top" style="width:1656px;height:0px;border:1px solid #D1CFCF;"></div>
<div class="side" style="width:0px;height:800px;border:1px solid #D1CFCF;"></div>

<div class="profile"> <a routerLink="/profile" routerLinkActive="active" style="color: #D1CFCF; text-decoration: none;">
        Profile</a></div>
<div class="sc-management"> <a routerLink="/adminScManagement" routerLinkActive="active"
        style="color: #D1CFCF; text-decoration: none;"> Social Club Management</a>
</div>
<div class="mmbr-management"> <a routerLink="/memberManagement" routerLinkActive="active"
        style="color: #D1CFCF; text-decoration: none;"> Member Management</a>
</div>
<div class="rep-management"> Report Management </div>
<div class="q-management"> <a routerLink="/questManagement" routerLinkActive="active"
        style="color: #D1CFCF; text-decoration: none;"> Questionnaire Management</a>
</div>
<div class="logout"> <a routerLink="/login" routerLinkActive="active" style="color: #1b2c55; text-decoration: none;">
        log out</a></div>

<section class="form">
    <form>

        <mat-form-field class="rep">

            <label for="rep">Reported User(s)<br>
                <!-- TODO: userlar çekilecek -->
                <select id="rep" name="action" required>
                    <option value="" disabled selected>@reported_member</option>
                    <option value="rep1">reported_1</option>
                    <option value="rep1">reported_2</option>
                </select>
            </label>
        </mat-form-field><br>
        <!-- TODO: Bu kısım backendden kullanıcıya göre düşmeli -->
        <mat-form-field class="reason">
            <label>
                Reason<br>
                <textarea matInput rows="5" name="reason" formControlName="reason" required>
             </textarea>
            </label>
        </mat-form-field><br>
        <mat-form-field class="action">
            <!-- TODO: action arkaya bağlanmalı işlem yapılmalı -->
            <label for="action">Action<br>
                <select id="action" name="action" required>
                    <option value="" disabled selected>choose an action</option>
                    <option value="delete">Ban for a day</option>
                    <option value="delete">Ban for three days</option>
                </select>
            </label>
        </mat-form-field><br>

        <fieldset class="save">
            <input class="btn" type="submit" name="save" value="save">
        </fieldset>
    </form>
</section>